.outfit-uniquifier {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


:root {
    /* Colors */
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: "Outfit";
    background-color: var(--slate-300);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
 
}
main{
background-color: white;
width: 22rem;
max-width: 100%;
margin: auto;
justify-content: center;
align-items: center;
border-radius: 1.5rem;
padding: 1rem;
}

.title{
    color: var(--slate-900);
}

.sub{
    color: var(--slate-500);
}


.image{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: center;
    border-radius: 1rem;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-inline: 1.4rem;
    padding-block: 1rem;
}

.sub{
    font-size: 1.125rem;
}

.title{
    height: 3rem;
    font-size: 1.5rem;
}